@charset "UTF-8";

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #363636;
    background-image: url(./imagens/background-marmorizado.png);
    background-size: cover;
    color: #f1f1f1;
    font-family: Arial, Helvetica, sans-serif;

    display: flex;
    flex-direction: column;
    gap: 36px;
}

header, footer{
    background-color: #363636;
    text-align: center;
    padding: 12px 0;
}

header img{
    width: 200px;
}

main{
    padding: 0 16px;
}

main h1, h2{
    text-align: center;
    color: #E8A4B3;
}

h1{
    margin-bottom: 36px;
}

/* ENGLOBA O RECEITA ORIGINAL E OS RESULTADOS */
section#container{
    display: flex;
    flex-flow: row wrap;
    gap: 24px;
}

article{
    background-color: #363636;
    border-radius: 12px;
    padding: 20px 16px;
    flex: 1 1 340px;
}

/* DADOS INSERIDOS PELO CLIENTE (Receita original) */
article#receita-original{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

div.produto-quantidade{
    display: flex;
    gap: 12px;
    flex: 1;
}

.ingrediente, .peso{
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
}

/* CRESCE 3X MAIS DO QUE O PESO */
.ingrediente{
    flex: 3;
}

/* TRÊS VEZES MENOR DO QUE O INGREDIENTE  */
.peso{
    flex: 1;
}

label{
    font-size: 20px;
}

input{
    border-radius: 8px;
    padding: 8px 12px;
    font-size: 18px;
    background-color: #363636;
    color: #f1f1f1;
    border: 1px solid #a1a1a1;
    width: 100%;
}

input:focus{
    outline: none;
    border: #E8A4B3;
    box-shadow: 0 0 5px #E8A4B3;
}

/* TIRA AS SETINHAS DO NAVEGADOR */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button{
    background-color: #E8A4B3;
    border: 0px;
    border-radius: 8px;
    padding: 8px 0;
    font-size: 18px;
    color: #f1f1f1;
    font-weight: bold;
}

/* RESULTADOS DA NOVA RECEITA */
#nova-receita{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#nova-receita h2{
    margin-bottom: 12px;
}

#nova-receita p{
    font-size: 20px;
    margin-bottom: 10px;
}



footer a{
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
}
